@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Yantramanav&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.link-items-products {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  width: 100px;
  height: 28px;
  border: none;
  background-color: #070707;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-items-products .span-mother {
  display: flex;
  overflow: hidden;
}

.link-items-products:hover .span-mother {
  position: absolute;
}

.link-items-products:hover .span-mother span {
  transform: translateY(1.2em);
}

.link-items-products .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.link-items-products .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.link-items-products .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.link-items-products .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.link-items-products .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.link-items-products .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.link-items-products .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.link-items-products .span-mother2 span {
  transform: translateY(-1.2em);
}

.link-items-products:hover .span-mother2 span {
  transform: translateY(0);
}

.link-items-products .span-mother2 span {
  transition: 0.2s;
}

.link-items-products .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.link-items-products .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.link-items-products .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.link-items-products .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.link-items-products .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

/* ---------- */

a {
  cursor: pointer;
  border-radius: 5px;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
}

.header {
  height: 65px;
  color: aliceblue;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px solid aliceblue;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  font-family: sans-serif;
  letter-spacing: 1px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.content {
  background-color: #070707;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container01 {
  height: 550px;
  color: aliceblue;
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.text-container01 {
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  width: 38%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title01 {
  font-family: "Yantramanav", sans-serif;
  font-size: 58px;
  letter-spacing: 5px;
  font-weight: 900;
  margin-top: 15px;
}

.title01 span {
  font-size: 26px;
}

.text-content {
  font-family: "Assistant", sans-serif;
  color: rgb(203, 211, 217);
  width: 95%;
}

.button-container01 {
  letter-spacing: 2px;
  text-decoration: none;
  margin-top: 35px;
  text-align: center;
  --color: aliceblue;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 50px;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 1px solid aliceblue;
  transition: color 0.5s;
  z-index: 1;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--color);
}

.button-container01:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.button-container01:hover {
  color: #070707;
}

.button-container01:before {
  bottom: 100%;
  right: 100%;
  transition: all 0.4s;
}

.button-container01:hover:before {
  bottom: -30px;
  right: -30px;
}

.button-container01:active:before {
  background: black;
  transition: background 0s;
}

.main-content {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.img-initial {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  width: 70%;
}

.container02 {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
  width: 100%;
}

.items {
  font-family: "Yantramanav", sans-serif;
  letter-spacing: 3px;
  color: #232323;
  display: flex;
  height: 35%;
  width: 80%;
  gap: 10px;
}

.item {
  background-color: rgb(245, 246, 246);
  display: flex;
  width: 33%;
  border-bottom: 1px solid #a3a2a2;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.content-item h1 {
  margin-top: 1px solid black;
}

.img-item-headset {
  height: 150px;
  transition: 0.2s;
  margin-bottom: 5%;
}

.img-item-headset:hover {
  height: 165px;
}

.img-item-macbook {
  height: 130px;
  transition: 0.2s;
  margin-bottom: 5%;
}

.img-item-macbook:hover {
  height: 145px;
}

.img-item-airPods-Pro {
  height: 150px;
  margin-bottom: 5%;
  transition: 0.2s;
}

.img-item-airPods-Pro:hover {
  height: 165px;
}

.content-item a {
  font-size: 20px;
  text-decoration: none;
  color: #232323;
}

.sound-boxs {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.container03 {
  border-radius: 10px;
  display: flex;
  height: 560px;
  justify-content: space-evenly;
  background-color: black;
}

.img-macbook {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titles-macbook {
  margin-top: 6%;
  width: 100%;
  text-align: center;
}

.img-macbook h1 {
  font-family: "Yantramanav", sans-serif;
  font-size: 64px;
  color: aliceblue;
}

.img-macbook h3 {
  height: 50px;
  display: flex;
  justify-content: center;
  font-family: "Yantramanav", sans-serif;
  font-size: 24px;
  color: aliceblue;
}

.img-macbook h3 img {
  width: 35px;
  margin-left: 1%;
  height: 35px;
}

.titles-macbook .sub-title {
  font-family: "Yantramanav", sans-serif;
  font-size: 22px;
  font-weight: 200;
  color: #a3a2a2;
}

.img-macbook img {
  width: 100%;
}

.text-content03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  gap: 30px;
  color: aliceblue;
}

.text-content03 .title-about-macbook {
  font-family: "Yantramanav", sans-serif;
  font-size: 44px;
  color: aliceblue;
}

#text-planet {
  border-bottom: 1px solid rgba(0, 128, 0, 0.809);
  margin-right: 10px;
}

.title-about-macbook h1 {
  font-family: "Yantramanav", sans-serif;
  font-size: 44px;
  color: aliceblue;
}

.text-content03 p {
  font-family: "Assistant", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

#button-macbook {
  text-align: center;
  font-family: "Yantramanav", sans-serif;
  width: 50%;
  height: 50px;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 1px solid aliceblue;
  transition: color 0.5s;
  z-index: 1;
  font-size: 20px;
  font-weight: 500;
}

#button-macbook:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: aliceblue;
  height: 150px;
  width: 300px;
  border-radius: 50%;
}

#button-macbook:hover {
  color: black;
}

#button-macbook:before {
  bottom: 100%;
  right: 100%;
  transition: all 0.4s;
}

#button-macbook:hover:before {
  bottom: -30px;
  right: -30px;
}

#button-macbook:active:before {
  background: black;
  transition: background 0s;
}

.text-content03 a {
  background-color: #070707;
  color: aliceblue;
  display: flex;
  align-items: center;
  font-family: "Yantramanav", sans-serif;
  justify-content: center;
  letter-spacing: 1.5px;
  margin-top: 25px;
  color: aliceblue;
  font-weight: 550;
  border: none;
  width: 50%;
  height: 55px;
}

.container04 {
  justify-content: space-between;
  border-radius: 10px;
  display: flex;
  height: 300px;
  background-color: rgb(219, 228, 235);
  background-size: 100%;
  background-image: url(./assets/img/hero_logo.png);
  background-repeat: no-repeat;
}

#button-container04 {
  text-align: center;
  --color: black;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 500;
  color: var(--color);
}

#button-container04:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

#button-container04:hover {
  color: #fff;
}

#button-container04:before {
  bottom: 100%;
  right: 100%;
  transition: all 0.4s;
}

#button-container04:hover:before {
  bottom: -30px;
  right: -30px;
}

#button-container04:active:before {
  background: black;
  transition: background 0s;
}

/* #button-container04:hover {
  background-color: #070707;
  color: aliceblue;
  padding: 3px;
} */

.text-container04 {
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  width: 30%;
  display: flex;
  justify-content: center;
  margin-left: 8%;
  font-size: 22px;
  align-items: flex-start;
  font-family: "Yantramanav", sans-serif;
}

.container04 .text-about-macbook {
  font-size: 28px;
  font-family: "Yantramanav", sans-serif;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container05 {
  display: flex;
  gap: 15px;
}

.left-content {
  background-color: rgb(245, 246, 246);
  width: 50%;
  border-radius: 10px;
  height: 300px;
  background-image: url(./assets/img/airPods-pro.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: left;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s;
}

.left-content:hover {
  background-size: 47%;
}

.text-about-airpods-pro {
  display: flex;
  width: 40%;
  justify-content: center;
  flex-direction: column;
}

.title-airPods-3-geracao {
  font-size: 52px;
  font-family: "Yantramanav", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 1%;
}

.subtitle-airPods-3-geracao {
  margin: -2% 0 2% 0;
}

.price-airPods-3-geracao {
  font-size: 22px;
  font-family: "Yantramanav", sans-serif;
}

.button-airPods-pro {
  text-decoration: none;
  margin-top: 25px;
  text-align: center;
  --color: black;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  line-height: 2.5em;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  transition: color 0.5s;
  z-index: 1;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  color: var(--color);
}

.button-airPods-pro:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.button-airPods-pro:hover {
  color: #fff;
}

.button-airPods-pro:before {
  bottom: 100%;
  right: 100%;
  transition: all 0.4s;
}

.button-airPods-pro:hover:before {
  bottom: -30px;
  right: -30px;
}

.button-airPods-pro:active:before {
  background: black;
  transition: background 0s;
}

.rigth-content {
  width: 50%;
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  font-family: "Yantramanav", sans-serif;
  justify-content: center;
  background-color: black;
  background-image: url(./assets/img/airPods-pro-config.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: left;
  display: flex;
  align-items: flex-start;
  transition: 0.2s;
}

.rigth-content:hover {
  background-size: 54%;
}

.text-right-content {
  display: flex;
  justify-content: end;
}

.text-right-content p {
  color: #a3a2a2;
  margin-right: 3%;
  width: 50%;
  font-size: 20px;
  font-weight: 100;
  transition: 0.1s;
}

.text-airpods-pro-white {
  color: aliceblue;
}

.text-airpods-pro-green {
  color: rgb(0, 227, 0);
}

.container06 {
  border-radius: 10px;
  height: 800px;
  background-color: rgb(0, 0, 0);
  background-image: url(https://www.apple.com/v/airpods-max/e/images/overview/audio_quality_spatial_figure__clxltt2m0z2a_medium.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 90%;
  background-size: 60%;
  display: flex;
  width: 100%;
}

.about-airPodsMax-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.about-airPodsMax-right {
  width: 50%;
}

.img-wave-sound {
  opacity: 0;
  width: 75%;
  transition: 0.1s;
}

.img-wave-sound:hover {
  opacity: 1;
  width: 77%;
}

.text-about-airPodsMax {
  font-size: 26px;
  width: 75%;
  color: #a3a2a2;
}

.about-airPodsMax-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.about-airPodsMax-right section {
  margin-bottom: 25%;
}

.text-about-airPodsMax-white {
  color: white;
}

.container07 {
  margin-top: 8%;
  height: 550px;
  display: flex;
}

.text-content-container07 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.text-content-container07 h1 {
  font-family: "Yantramanav", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
}

.text-content-container07 p {
  font-size: 18px;
  width: 95%;
  font-weight: 400;
}

.img-content-container07 {
  width: 50%;
}

.img-content-container07 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.footer {
  color: aliceblue;
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 10%;
  background-color: black;
}

.footer-content {
  display: flex;
  width: 80%;
}

.footer-content-left {
  width: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-content-left h1 {
  margin-top: 15px;
}

.footer-content-left p {
  margin-top: 20px;
}

.footer-content-right {
  width: 50%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-links {
  display: flex;
  gap: 25px;
  height: 33%;
  width: 100%;
  justify-content: end;
}

.footer-links a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
}

.social-network {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 15px;
}

.social-network i {
  color: aliceblue;
  font-size: 30px;
}
