@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Yantramanav&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#title-product {
  font-size: 46px;
  font-family: "Yantramanav", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 65px;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1px solid aliceblue;
  position: fixed;
  background-color: #070707;
}

.links a {
  font-size: 16px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.links a:focus,
.links a:hover {
  color: #fff;
}

.links a:focus:after,
.links a:hover:after {
  width: 100%;
  left: 0%;
}

.links a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  position: absolute;
  width: 0%;
  right: 0;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 350ms;
  transition-property: width, left;
}

.content-header {
  color: aliceblue;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  font-family: sans-serif;
  letter-spacing: 1px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
  opacity: 0.9;
  transition: 0.3s;
}

.container {
  background-color: aliceblue;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.main-content {
  width: 85%;
}

.container01 {
  justify-content: space-between;
  height: 500px;
  position: relative;
  margin-top: 110px;
  display: flex;
  border-radius: 15px;
  gap: 40px;
}

.content-img {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.content-img img {
  width: 85%;
  height: 100%;
}

.swiper {
  height: 500px;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .swiper {
    height: 270px;
  }
}

.swiper-button-next {
  color: #515050;
}

.swiper-button-prev {
  color: #515050;
}

.text-content-img {
  width: 55%;
  height: auto;
  padding: 25px;
  border-radius: 5%;
  background-color: rgba(175, 177, 175, 0.067);
  gap: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.text-content-img h3 {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 400;
}

.buttons-product {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#price {
  font-size: 36px;
  font-family: sans-serif;
  font-weight: 600;
}

.shipping {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 3% 0 5% 0;
  align-items: flex-start;
}

.shipping p {
  font-size: 18px;
  color: #515050;
}

#add-to-cart {
  color: aliceblue;
  position: absolute;
  height: 50px;
  left: 35%;
  width: 250px;
  font-weight: 400;
  border-color: #afafaf;
  background-color: rgb(8, 8, 240);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#add-to-cart:hover {
  background-color: rgb(34, 34, 223);
  cursor: pointer;
  box-shadow: inset;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#quantity {
  width: 40px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(201, 208, 211);
  text-align: center;
  background-color: rgb(223, 231, 238);
}

/* Esconde as setas de incremento e decremento */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-quantity {
  display: flex;
  height: 47px;
  border-radius: 4px;
  border: 2px solid #515050;
}

.edit-quantity {
  background-color: rgb(223, 231, 238);
  height: 43px;
  width: 40px;
  font-size: 20px;
  border: none;
}

#subtract {
  border-color: #afafaf;
  border-radius: 3px;
}

#sum {
  border-color: #afafaf;
  border-radius: 3px;
}

#quantity {
  font-size: 16px;
  border-top: none;
  border-bottom: none;
  color: #232323;
}

.edit-quantity:hover {
  background-color: rgb(208, 217, 225);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.imgs-about-product {
  display: flex;
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
  gap: 3px;
  justify-content: center;
  align-items: flex-end;
}

.imgs-about-product img {
  width: 18%;
  height: 50%;
  transition: 0.1s;
}

.imgs-about-product img:hover {
  width: 19%;
  height: 51%;
  box-shadow: 1px 1px 3px black;
}

.container02 {
  height: 500px;
  display: flex;
  align-items: center;
}

.content-container02 {
  gap: 90px;
  display: flex;
  justify-content: center;
}

.content-left {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-left p {
  font-size: 18px;

  font-family: sans-serif;
}

.content-right {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 30px;
  height: 100%;
  width: 20%;
}

.in-the-box p {
  font-size: 17px;
  font-family: sans-serif;
  margin-bottom: 5px;
}

.text-orange {
  color: rgb(199, 95, 56);
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}

.about-the-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  min-height: 100vh;
}

.container03 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  color: #f5f4f4;
}

.text-product {
  font-family: "Yantramanav", sans-serif;
  font-size: 22px;
  color: #afafaf;
  margin-top: 20px;
  width: 90%;

  text-align: start;
}

.content-product {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px 200px 0px;
}

.container03 .left-content {
  height: 100%;
  height: 95%;
}

.container03 .left-content img {
  width: 98%;
  height: 900px;
}

.container03 .left-content {
  width: 65%;
}

.container03 .right-content {
  display: flex;
  flex-direction: column;
}

.img-right-content {
  width: 43%;
}

.right-content {
  align-items: flex-end;
  width: 30%;
}

.right-content .top-img img {
  width: 90%;
}

.top-img {
  display: flex;
  flex-direction: column;
}

.using-product {
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-size: contain;
  background-size: 80%;

  background-image: url(https://www.apple.com/v/airpods-max/e/images/overview/audio_quality_spatial_figure__clxltt2m0z2a_medium.jpg);
}

.img-about-product {
  margin-bottom: -250px;
  width: 100%;
  text-align: center;
}

.img-product {
  width: 60%;
}

.text-about-product p {
  font-size: 20px;
  margin: 0 0 10% 10%;
  width: 25%;
}

.text-decoration {
  color: white;
  opacity: 1;
}

.content-about-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  font-family: sans-serif;
  color: #232323;
}

.content-about-product .content {
  width: 80%;
}

.title-about-product {
  font-size: 24px;
}

.text-comprimed {
  width: 100%;
  justify-content: end;
  display: flex;
  text-align: start;
}

.text-comprimed h3 {
  width: 55%;
  font-size: 26px;
}

.container02 {
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
  width: 100%;
}

.items {
  font-family: "Yantramanav", sans-serif;
  letter-spacing: 3px;
  color: #232323;
  display: flex;
  height: 35%;
  width: 80%;
  gap: 10px;
}

.item {
  background-color: rgb(219, 228, 235);
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.img-item {
  height: 210px;
}

.content-item a {
  font-size: 20px;
  text-decoration: none;
  color: #232323;
}

.sound-boxs {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer {
  color: aliceblue;
  display: flex;
  justify-content: center;
  height: 300px;
  margin-top: 10%;
  background-color: black;
}

.footer-content {
  display: flex;
  width: 80%;
}

.footer-content-left {
  width: 50%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-content-left h1 {
  margin-top: 15px;
}

.footer-content-left p {
  margin-top: 20px;
}

.footer-content-right {
  width: 50%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-links {
  display: flex;
  gap: 25px;
  width: 100%;
  margin-bottom: 15%;
  justify-content: end;
}

.footer-links a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: aliceblue;
  font-family: sans-serif;
}

.footer-links a {
  font-size: 16px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.footer-links a:focus,
.footer-links a:hover {
  color: #fff;
}

.footer-links a:focus:after,
.footer-links a:hover:after {
  width: 100%;
  left: 0%;
}

.footer-links a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  position: absolute;
  width: 0%;
  right: 0;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 350ms;
  transition-property: width, left;
}

.social-network {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 15px;
}

.social-network i {
  color: aliceblue;
  font-size: 30px;
}
